## Load Patients and Doctors Datasets

In [9]:
import pandas as pd

doctors = pd.read_csv("D:/Doc_Recommendation/data/doctors.csv")
patients = pd.read_csv("D:/Doc_Recommendation/data/patients.csv")

## Inspect Doctors Dataset

In [10]:

doctors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   doctor_id          50 non-null     object
 1   doctor_name        50 non-null     object
 2   specialty          50 non-null     object
 3   years_experience   50 non-null     int64
 4   location           50 non-null     object
 5   rating             50 non-null     float64
 6   consultation_type  50 non-null     object
 7   success_rate       50 non-null     object
 8   languages_spoken   50 non-null     object
dtypes: float64(1), int64(1), object(7)
memory usage: 3.6+ KB

In [11]:
doctors.head()

,doctor_id,doctor_name,specialty,years_experience,location,rating,consultation_type,success_rate,languages_spoken
0,D101,Dr. Ahmed,General Practitioner,15,Karachi,4.7,In-person,92%,"English, Urdu"
1,D102,Dr. Sara,Cardiologist,12,Lahore,4.9,Telehealth,95%,English
2,D103,Dr. Kamran,Pulmonologist,10,Islamabad,4.5,In-person,90%,"English, Urdu"
3,D104,Dr. Ayesha,Endocrinologist,8,Lahore,4.6,Telehealth,88%,English
4,D105,Dr. Bilal,Dermatologist,7,Karachi,4.4,Telehealth,85%,Urdu

In [12]:
doctors.describe(include='O')

,doctor_id,doctor_name,specialty,location,consultation_type,success_rate,languages_spoken
count,50,50,50,50,50,50,50
unique,50,19,10,3,2,11,3
top,D101,Dr. Nadia,General Practitioner,Karachi,In-person,92%,English
freq,1,5,5,17,25,5,30

## Inspect Patient Dataset

In [ ]:
# Information related to Patient Dataset
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   patient_id          100 non-null    object
 1   name                100 non-null    object
 2   age                 100 non-null    int64
 3   gender              100 non-null    object
 4   location            100 non-null    object
 5   chronic_conditions  80 non-null     object
dtypes: int64(1), object(5)
memory usage: 4.8+ KB

In [ ]:
# Display five records of Patients

In [15]:
patients.head()

  patient_id     name  age gender   location chronic_conditions
0       P001    Alice   30      F    Karachi           Diabetes
1       P002      Bob   45      M     Lahore       Hypertension
2       P003  Charlie   25      M  Islamabad                NaN
3       P004    Diana   60      F    Karachi      Heart Disease
4       P005    Ethan   35      M     Lahore             Asthma

In [16]:
patients.describe(include='O')

       patient_id    name gender location chronic_conditions
count         100     100    100      100                 80
unique        100      47      2        3                  4
top          P001  George      F  Karachi           Diabetes
freq            1       4     50       34                 24